#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1 {
  padding: 40px;
  --extra-scallopColor: green;
  --extra-scallopRadius: 10;
  --extra-scallopWeight: 3;
  background: paint(extra-scallopedBorder);
}